<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <h1>Result Management System</h1>
        </div>
    </nav>
    <p style="padding-left: 47%;padding-top: 8%;font-weight: bold; font-size: 25px;">Login As</p>
    <div class="row" style="padding-left: 37%;padding-top: 2%;">
        <button class="btn btn-primary" href="/teacher/viewall"
            style="border-radius: 10px;width: 140px; height:55px;">Teacher</button>
        <button class="btn btn-primary" href="/student/viewall"
            style="border-radius: 10px;width: 140px;margin-left: 110px;height:55px;">Student</button>
    </div>
</body>

</html>